
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #F1f5f8;
   
}

.nav{
    width: 100vw;
    height: 7vh;
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.list{
    width: 30vw;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    color: black;
}

.nav-items{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.heading{
    font-size: 1.5rem;
    color:cadetblue;
    font-family: roboto, sans-serif;
    letter-spacing: 0.1rem;
    padding-left: 3rem;
}

.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.sub-heading{
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: roboto, sans-serif;
    letter-spacing: 0.1rem;
}

.btn{
    margin: 20px;
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

#color{
     color: #F1f5f8;
}